{% extends 'base.html' %}
<!-- CSS link -->
<link rel="stylesheet" href="flightDetailStyle.css">

<!-- TODO: sunjida.fronika@northsouth.edu -->
<!-- <link rel='stylesheet' href='js-form-validation.css' type='text/css' /> -->
<!-- <script src="sample-registration-form-validation.js"></script> -->
<!-- <body onload="document.registration.flightDate.focus();"></body>
     is this important??? -->

{% block content %}
<!-- Sign Up form -->
 
<form  method= "POST" name="registration">
  {% csrf_token %}
  <ul>
    <li><label for="flightDate">Flight Date:</label></li>
    <li><input type="date" name="flight_date" size="30" required /></li>

    <li><label for="arrivaltDate">Arrival Date:</label></li>
    <li><input type="date" name="arrival_date" size="30" required /></li>

    <li><label for="country">Destination Country:</label></li>
    <li><select name="destination_country">
        <option selected="" value="Default">(Please select a country)</option>
        <option value="AF">Bangladesh</option>
        <option value="AL">Canada</option>
        <option value="DZ">China</option>
        <option value="AS">Australia</option>
        <option value="AD">USA</option>
      </select></li>

    <li><label for="Ocountry">Origin Country:</label></li>
    <li><select name="origin_country">
        <option selected="" value="Default">(Please select a country)</option>
        <option value="AF">Bangladesh</option>
        <option value="AL">Canada</option>
        <option value="DZ">China</option>
        <option value="AS">Australia</option>
        <option value="AD">USA</option>
      </select></li>

      <li><label for="passport">Passport No.:</label></li>
      <li><input type="text" name="passport_no" pattern="(B)(M)[0-9]{7}" placeholder="BM 7-digits"  size="30"required /></li>

      <li><label for="ticket">Ticket No.:</label></li>
      <li><input type="text" name="ticket_no" pattern="[0-9]{13}" placeholder="13-digits"  size="30"required /></li>

    <li><label for="username">Airlines Name:</label></li>
    <li><input type="text" name="airlines_name" size="30" required /></li>

    <li><label for="email">Email:</label></li>
    <li><input type="text" name="email" size="30" /></li>

    <li><label for="phone">Phone:</label></li>
    <li><input type="tel" id="phone" name="contact_no" pattern="[0-9]{11}" placeholder="Enter 11 digit phone no." size="30"
        required /></li>



    <li><input type="submit" name="submit" value="Save Details"
        style="background-color:#004953;color: white; border-color: #004953;" onClick="" /></li>
        {%if messages%}
        {%for messages in messages%}
        <h2 style="color: blue;">{{messages}}</h2>
        {% endfor %}
        {%endif%}
  
      </ul>
</form>

<!-- JS link -->
{% comment %} <script src="flightDetails.js"></script> {% endcomment %}
{% endblock %}