<!DOCTYPE html>
<html>
<title>Laggage Party</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="indexStyle.css">

<body >

<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none;" id="mySidebar">
  <button class="w3-bar-item w3-button w3-large" onclick="w3_close()">&times;</button>
  <a href="index.html" class="w3-bar-item w3-button">Home</a>
  <a href="#" class="w3-bar-item w3-button">Account Information</a>
  <a href="#" class="w3-bar-item w3-button">My Requests</a>
  <a href="flightDetails.html" class="w3-bar-item w3-button">Post Requests</a>
  <a href="flightDetails.html" class="w3-bar-item w3-button">Flight Details</a>
  <a href="#" class="w3-bar-item w3-button">Complaints</a>
  <a href="#" class="w3-bar-item w3-button">Payments &
Refunds</a>
  <a href="#" class="w3-bar-item w3-button">Shipping Address</a>
  <a href="#" class="w3-bar-item w3-button">Track Requests</a>
  <a href="#" class="w3-bar-item w3-button">Price & Rates</a>
  <a href="#" class="w3-bar-item w3-button">Support Tickets</a>
</div>

<div id="main">

<div style="background-color: #004953;">
  <button style="color: floralwhite;"id="openNav" class="w3-button w3-xlarge" onclick="w3_open()">&#9776;</button>
  
  <div style="background-color: #004953; color: floralwhite;"class="w3-container">
    <h1>Laggage Party</h1>
  </div>
</div>

<img src="https://png.pngtree.com/background/20210709/original/pngtree-simple-summer-tourism-travel-picture-image_916927.jpg" alt="Car" style="width:100%;">

<div class="w3-container">
<form action="travelerSign.html">
  <center>
<button class="btn btn-primary" style="width:auto;"> Become A Traveler
</button>
</center>
</form>
<form action="CustomerSign.html">
  <center>
<button class="btn btn-primary" style="width:auto;"> Become A Customer
</button>
</center>
</form>

</div>

</div>

<script src="indexScript.js"></script>

</body>
</html>
