{% extends 'base.html' %}
{% load static %}
<!-- css link -->
<link rel="stylesheet" href="{% static 'styles/signInStyle.css' %}" />

{% block content %}
<div class="form-login">
    <p class="lead">Sign Up</p>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="username" name="username">
        <input type="email" placeholder="email" name="email">
        <input type="text" placeholder="contact no" name="phone">
        <input type="password" placeholder="password" name="password">
        <select name="user_type">
            <option></option>
            <option value="traveler">traveler</option>
            <option value="customer">customer</option>
        </select>
        <input type="submit" value="Sign-Up" name="">
    </form>
</div>
{% endblock %}