{% extends 'base.html' %}
{% load static %}
<!-- css link -->
<link rel="stylesheet" href="{% static 'styles/travelerSign.css' %}" />

{% block content %}
<!-- sign up -->

<center>
  <button class="btn btn-primary" onclick="document.getElementById('id01').style.display='block'" style="width: auto">
    Sign Up
  </button>
</center>

<!-- sign up modal -->
<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close">&times;</span>
  <!-- FORM starts from here -->
  <form class="modal-content" name="registration" method="POST" onSubmit="return formValidation();">
    <div class="container">
      <h1>Sign Up</h1>
      <p>Please fill in this form to create an account.</p>
      <hr />
      {% csrf_token %}
      <label for="name"><b>Full Name</b></label>
      <input type="text" placeholder="Full Name" name="fullname" required />

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" />

      <label for="phone"><b>Contact No.</b></label>
      <input type="text" id="phone" name="phone" pattern="[0-9]{11}" placeholder="Enter 11 digit phone no." required />

      <!-- TODO: Passport Work -->
      <!-- <label for="passport"><b>Passport No.</b></label>
      <input type="text" name="passport" pattern="(B)(M)[0-9]{7}" placeholder="BM 7-digits" required> -->

      <label for="passid"><b>Password</b></label>
      <input type="password" id="passid" placeholder="Enter Password" name="psw" required />

      <!-- TODO: remember me -->
      <label>
        <input type="checkbox" checked="checked" name="remember" style="margin-bottom: 10px" />
        Remember me
      </label>

      <p>
        By creating an account you agree to our
        <a href="#" style="color: dodgerblue">Terms & Privacy</a>.
      </p>

      <div class="clearfix">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn"
          style="color: black">
          Cancel
        </button>
        <!-- <button class="btn signupbtn" type="submit">Sign Up</button> -->
        <input type="submit" class="btn" value="Sign up" />
      </div>
    </div>
  </form>
</div>

<!-- sign in -->
<form action="{% url 'sign_in'%}"></form>
<center>
  <button class="btn btn-primary" onclick="document.getElementById('id02').style.display='block'" style="width: auto">Sign In</button>
</center>

<script src="{% static 'js/travelerSign.js' %}"></script>
{% endblock %}